* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


input,
textarea,
button,
select {
    font-family: inherit;
}

.outer-container {
    border: 3px dotted black;
    height: 85vh;
    width: 75vw;
    margin: 40px auto;


}

.inner-container {
    border: 2px solid blue;
    height: 50vh;
    width: 40vw;
    margin: 20% auto;
}

.box {

    width: 150px;
    height: 150px;
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;

}



.outer-container {
    position: relative;
}

.absolute {
    background-color: green;

    position: absolute;
    top: 0;
    left: 0;

}

.fixed {
    background-color: brown;

    position: fixed;
    top: 100px;

}

.relative {
    background-color: goldenrod;

    position: relative;
    top: 0;
    /* left: 150px; */



}

.sticky {
    background-color: gold;

    top: 300px;

    margin-left: 100px;

    position: sticky;
}

html {
    height: 200%;
}